EDA

In [2]:
import pandas as pd 
import numpy as np
import sklearn
import joblib

In [4]:
mtraindf=pd.read_csv('application_train.csv')

In [5]:
mtraindf.head(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
mtraindf.dtypes.value_counts()

float64    65
int64      41
object     16
Name: count, dtype: int64

In [7]:
# Get a list of all columns that are currently of type 'object'
object_cols =  mtraindf.select_dtypes(include='object').columns.tolist()

In [8]:
object_cols

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

In [9]:
for col in object_cols:
    print(col, "→", mtraindf[col].nunique())

NAME_CONTRACT_TYPE → 2
CODE_GENDER → 3
FLAG_OWN_CAR → 2
FLAG_OWN_REALTY → 2
NAME_TYPE_SUITE → 7
NAME_INCOME_TYPE → 8
NAME_EDUCATION_TYPE → 5
NAME_FAMILY_STATUS → 6
NAME_HOUSING_TYPE → 6
OCCUPATION_TYPE → 18
WEEKDAY_APPR_PROCESS_START → 7
ORGANIZATION_TYPE → 58
FONDKAPREMONT_MODE → 4
HOUSETYPE_MODE → 3
WALLSMATERIAL_MODE → 7
EMERGENCYSTATE_MODE → 2

In [10]:
cat_cols = [
    'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
    'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
    'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
    'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
    'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'
]

mtraindf = pd.get_dummies(mtraindf, columns=cat_cols, drop_first=True)

In [11]:
mtraindf.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FONDKAPREMONT_MODE_reg oper spec account,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_Yes
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,False,False,False,False,False,False,False,True,False,False
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,False,False,False,False,False,False,False,False,False,False
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,False,False,False,False,False,False,False,False,False,False
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,False,False,False,False,False,False,False,False,False,False
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,False,False,False,False,False,False,False,False,False,False

In [12]:
mtraindf.isnull().mean().sort_values(ascending=False).head(20)

COMMONAREA_MEDI             0.698723
COMMONAREA_MODE             0.698723
COMMONAREA_AVG              0.698723
NONLIVINGAPARTMENTS_MEDI    0.694330
NONLIVINGAPARTMENTS_MODE    0.694330
NONLIVINGAPARTMENTS_AVG     0.694330
LIVINGAPARTMENTS_MEDI       0.683550
LIVINGAPARTMENTS_MODE       0.683550
LIVINGAPARTMENTS_AVG        0.683550
FLOORSMIN_MEDI              0.678486
FLOORSMIN_MODE              0.678486
FLOORSMIN_AVG               0.678486
YEARS_BUILD_AVG             0.664978
YEARS_BUILD_MEDI            0.664978
YEARS_BUILD_MODE            0.664978
OWN_CAR_AGE                 0.659908
LANDAREA_MEDI               0.593767
LANDAREA_MODE               0.593767
LANDAREA_AVG                0.593767
BASEMENTAREA_MODE           0.585160
dtype: float64

In [13]:
cols_to_drop = [
    'COMMONAREA_MEDI','COMMONAREA_MODE','COMMONAREA_AVG',
    'NONLIVINGAPARTMENTS_MEDI','NONLIVINGAPARTMENTS_MODE','NONLIVINGAPARTMENTS_AVG',
    'LIVINGAPARTMENTS_MEDI','LIVINGAPARTMENTS_MODE','LIVINGAPARTMENTS_AVG',
    'FLOORSMIN_MEDI','FLOORSMIN_MODE','FLOORSMIN_AVG',
    'OWN_CAR_AGE',
    'YEARS_BUILD_AVG','YEARS_BUILD_MEDI','YEARS_BUILD_MODE',
    'LANDAREA_MODE','LANDAREA_AVG','LANDAREA_MEDI',
    'BASEMENTAREA_MEDI'
]

mtraindf = mtraindf.drop(columns=cols_to_drop)

In [14]:
mtraindf.isnull().mean().sort_values(ascending=False).head(20)

BASEMENTAREA_MODE     0.585160
BASEMENTAREA_AVG      0.585160
EXT_SOURCE_1          0.563811
NONLIVINGAREA_MEDI    0.551792
NONLIVINGAREA_AVG     0.551792
NONLIVINGAREA_MODE    0.551792
ELEVATORS_AVG         0.532960
ELEVATORS_MEDI        0.532960
ELEVATORS_MODE        0.532960
APARTMENTS_MODE       0.507497
APARTMENTS_MEDI       0.507497
APARTMENTS_AVG        0.507497
ENTRANCES_MODE        0.503488
ENTRANCES_AVG         0.503488
ENTRANCES_MEDI        0.503488
LIVINGAREA_AVG        0.501933
LIVINGAREA_MODE       0.501933
LIVINGAREA_MEDI       0.501933
FLOORSMAX_MODE        0.497608
FLOORSMAX_MEDI        0.497608
dtype: float64

In [15]:
cols_to_drop = [
    'BASEMENTAREA_MODE',
'BASEMENTAREA_AVG',
'NONLIVINGAREA_MEDI',
'NONLIVINGAREA_MODE',
'NONLIVINGAREA_AVG',
]

mtraindf = mtraindf.drop(columns=cols_to_drop)

In [16]:
mtraindf.isnull().mean().sort_values(ascending=False).head(20)

EXT_SOURCE_1                    0.563811
ELEVATORS_AVG                   0.532960
ELEVATORS_MODE                  0.532960
ELEVATORS_MEDI                  0.532960
APARTMENTS_MODE                 0.507497
APARTMENTS_MEDI                 0.507497
APARTMENTS_AVG                  0.507497
ENTRANCES_AVG                   0.503488
ENTRANCES_MODE                  0.503488
ENTRANCES_MEDI                  0.503488
LIVINGAREA_AVG                  0.501933
LIVINGAREA_MODE                 0.501933
LIVINGAREA_MEDI                 0.501933
FLOORSMAX_MEDI                  0.497608
FLOORSMAX_MODE                  0.497608
FLOORSMAX_AVG                   0.497608
YEARS_BEGINEXPLUATATION_MEDI    0.487810
YEARS_BEGINEXPLUATATION_MODE    0.487810
YEARS_BEGINEXPLUATATION_AVG     0.487810
TOTALAREA_MODE                  0.482685
dtype: float64

In [ ]:
cols_to_drop_3 = [
    'APARTMENTS_MODE','APARTMENTS_MEDI','APARTMENTS_AVG',
    'ENTRANCES_MODE','ENTRANCES_AVG','ENTRANCES_MEDI',
    'LIVINGAREA_MODE','LIVINGAREA_MEDI','LIVINGAREA_AVG',
    'FLOORSMAX_MEDI','FLOORSMAX_MODE','FLOORSMAX_AVG'
]

mtraindf = mtraindf.drop(columns=cols_to_drop_3)

In [19]:
mtraindf.isnull().mean().sort_values(ascending=False).head(20)

EXT_SOURCE_1                    0.563811
ELEVATORS_MEDI                  0.532960
ELEVATORS_MODE                  0.532960
ELEVATORS_AVG                   0.532960
YEARS_BEGINEXPLUATATION_AVG     0.487810
YEARS_BEGINEXPLUATATION_MEDI    0.487810
YEARS_BEGINEXPLUATATION_MODE    0.487810
TOTALAREA_MODE                  0.482685
EXT_SOURCE_3                    0.198253
AMT_REQ_CREDIT_BUREAU_WEEK      0.135016
AMT_REQ_CREDIT_BUREAU_MON       0.135016
AMT_REQ_CREDIT_BUREAU_QRT       0.135016
AMT_REQ_CREDIT_BUREAU_YEAR      0.135016
AMT_REQ_CREDIT_BUREAU_HOUR      0.135016
AMT_REQ_CREDIT_BUREAU_DAY       0.135016
DEF_30_CNT_SOCIAL_CIRCLE        0.003320
OBS_30_CNT_SOCIAL_CIRCLE        0.003320
OBS_60_CNT_SOCIAL_CIRCLE        0.003320
DEF_60_CNT_SOCIAL_CIRCLE        0.003320
EXT_SOURCE_2                    0.002146
dtype: float64

In [22]:
cols_drop_40 = [
'EXT_SOURCE_1',            

]

mtraindf = mtraindf.drop(columns=cols_drop_40)

In [23]:
mtraindf.isnull().mean().sort_values(ascending=False).head(20)

EXT_SOURCE_3                          0.198253
AMT_REQ_CREDIT_BUREAU_DAY             0.135016
AMT_REQ_CREDIT_BUREAU_WEEK            0.135016
AMT_REQ_CREDIT_BUREAU_MON             0.135016
AMT_REQ_CREDIT_BUREAU_QRT             0.135016
AMT_REQ_CREDIT_BUREAU_HOUR            0.135016
AMT_REQ_CREDIT_BUREAU_YEAR            0.135016
DEF_30_CNT_SOCIAL_CIRCLE              0.003320
OBS_60_CNT_SOCIAL_CIRCLE              0.003320
DEF_60_CNT_SOCIAL_CIRCLE              0.003320
OBS_30_CNT_SOCIAL_CIRCLE              0.003320
EXT_SOURCE_2                          0.002146
AMT_GOODS_PRICE                       0.000904
AMT_ANNUITY                           0.000039
CNT_FAM_MEMBERS                       0.000007
DAYS_LAST_PHONE_CHANGE                0.000003
ORGANIZATION_TYPE_Industry: type 5    0.000000
ORGANIZATION_TYPE_Hotel               0.000000
ORGANIZATION_TYPE_Industry: type 8    0.000000
ORGANIZATION_TYPE_Industry: type 7    0.000000
dtype: float64

1. EXT_SOURCE_3 (17.7% missing) — IMPORTANT FEATURE → IMPUTE

In [25]:
mtraindf['EXT_SOURCE_3'] = mtraindf['EXT_SOURCE_3'].fillna(mtraindf['EXT_SOURCE_3'].median())

2. The AMT_REQ_CREDIT_BUREAU_ family (12% missing)*

In [26]:
bureau_cols = [
    'AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_QRT',
    'AMT_REQ_CREDIT_BUREAU_MON','AMT_REQ_CREDIT_BUREAU_YEAR',
    'AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_HOUR'
]

for col in bureau_cols:
    mtraindf[col] = mtraindf[col].fillna(0)

3. Social circle features 0.000595 missing  is very less

In [27]:
soc_cols = [
    'OBS_30_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE',
    'OBS_60_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE'
]

for col in soc_cols:
    mtraindf[col] = mtraindf[col].fillna(mtraindf[col].median())

4. AMT_ANNUITY — super important

In [28]:
mtraindf['AMT_ANNUITY'] = mtraindf['AMT_ANNUITY'].fillna(mtraindf['AMT_ANNUITY'].median())

5. EXT_SOURCE_2

In [29]:
mtraindf['EXT_SOURCE_2'] = mtraindf['EXT_SOURCE_2'].fillna(mtraindf['EXT_SOURCE_2'].median())

6. ORGANIZATION_TYPE_ columns → 0 missing 
      ->one-hot encoded columns->
      no missing here.

In [30]:
mtraindf.isnull().sum().sum()

np.int64(281)

DAYS_EMPLOYED = 365243 (The BIGGEST problem in the dataset)

This value means “not employed” (Home Credit used it as a placeholder).

In [31]:
mtraindf['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True)

C:\Users\my\AppData\Local\Temp\ipykernel_9652\100844259.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mtraindf['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True)

In [32]:
mtraindf['DAYS_EMPLOYED'] = mtraindf['DAYS_EMPLOYED'].fillna(mtraindf['DAYS_EMPLOYED'].median())

 AMT_INCOME_TOTAL (Outlier)

Some applicants have extremely fake values (25 million income ).

In [33]:
upper_limit = mtraindf['AMT_INCOME_TOTAL'].quantile(0.99)
mtraindf['AMT_INCOME_TOTAL'] = np.where(
    mtraindf['AMT_INCOME_TOTAL'] > upper_limit,
    upper_limit,
    mtraindf['AMT_INCOME_TOTAL']
)

AMT_CREDIT, AMT_ANNUITY, AMT_GOODS_PRICE → some extreme values

In [34]:
for col in ['AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE']:
    upper = mtraindf[col].quantile(0.99)
    mtraindf[col] = np.where(mtraindf[col] > upper, upper, mtraindf[col])

CNT_FAM_MEMBERS (Weird values like 15, 20)

Family size > 10 is basically impossible and always noise.

In [35]:
mtraindf['CNT_FAM_MEMBERS'] = np.where(
    mtraindf['CNT_FAM_MEMBERS'] > 10,
    10,
    mtraindf['CNT_FAM_MEMBERS']
)

REGION_RATING_CLIENT_W_CITY (values 0 → mistake)

If you see 0, replace with most common (mode):

In [36]:
mtraindf['REGION_RATING_CLIENT_W_CITY'] = mtraindf['REGION_RATING_CLIENT_W_CITY'].replace(
    0,
    mtraindf['REGION_RATING_CLIENT_W_CITY'].mode()[0]
)

In [37]:
mtraindf.isnull().sum().sum()

np.int64(281)

In [38]:
mtraindf.dtypes.value_counts()

bool       124
int64       40
float64     21
Name: count, dtype: int64

In [39]:
mtraindf[['AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE']].describe()

       AMT_INCOME_TOTAL    AMT_CREDIT    AMT_ANNUITY  AMT_GOODS_PRICE
count     307511.000000  3.075110e+05  307511.000000     3.072330e+05
mean      166025.922341  5.961537e+05   26934.469027     5.366148e+05
std        83063.469251  3.915142e+05   13671.525953     3.619235e+05
min        25650.000000  4.500000e+04    1615.500000     4.050000e+04
25%       112500.000000  2.700000e+05   16524.000000     2.385000e+05
50%       147150.000000  5.135310e+05   24903.000000     4.500000e+05
75%       202500.000000  8.086500e+05   34596.000000     6.795000e+05
max       472500.000000  1.854000e+06   70006.500000     1.800000e+06

EDA ON TEST

In [40]:
import numpy as np

mtestdf = pd.read_csv('application_test.csv')

cols_to_drop = [
    'COMMONAREA_MEDI','COMMONAREA_MODE','COMMONAREA_AVG',
    'NONLIVINGAPARTMENTS_MEDI','NONLIVINGAPARTMENTS_MODE','NONLIVINGAPARTMENTS_AVG',
    'LIVINGAPARTMENTS_MEDI','LIVINGAPARTMENTS_MODE','LIVINGAPARTMENTS_AVG',
    'FLOORSMIN_MEDI','FLOORSMIN_MODE','FLOORSMIN_AVG',
    'OWN_CAR_AGE',
    'YEARS_BUILD_AVG','YEARS_BUILD_MEDI','YEARS_BUILD_MODE',
    'LANDAREA_MODE','LANDAREA_AVG','LANDAREA_MEDI',
    'BASEMENTAREA_MEDI'
]

cols_to_drop_2 = [
    'BASEMENTAREA_MODE','BASEMENTAREA_AVG',
    'NONLIVINGAREA_MEDI','NONLIVINGAREA_MODE','NONLIVINGAREA_AVG'
]

cols_to_drop_3 = [
    'APARTMENTS_MODE','APARTMENTS_MEDI','APARTMENTS_AVG',
    'ENTRANCES_MODE','ENTRANCES_AVG','ENTRANCES_MEDI',
    'LIVINGAREA_MODE','LIVINGAREA_MEDI','LIVINGAREA_AVG',
    'FLOORSMAX_MEDI','FLOORSMAX_MODE','FLOORSMAX_AVG',
    'YEARS_BEGINEXPLUATATION_MODE','YEARS_BEGINEXPLUATATION_AVG','YEARS_BEGINEXPLUATATION_MEDI',
    'TOTALAREA_MODE'
]

mtestdf = mtestdf.drop(columns=cols_to_drop, errors='ignore')
mtestdf = mtestdf.drop(columns=cols_to_drop_2, errors='ignore')
mtestdf = mtestdf.drop(columns=cols_to_drop_3, errors='ignore')

mtestdf['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True)
mtestdf['DAYS_EMPLOYED'] = mtestdf['DAYS_EMPLOYED'].fillna(mtraindf['DAYS_EMPLOYED'].median())

bureau_cols = [
    'AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_QRT',
    'AMT_REQ_CREDIT_BUREAU_MON','AMT_REQ_CREDIT_BUREAU_YEAR',
    'AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_HOUR'
]

for col in bureau_cols:
    if col in mtestdf.columns:
        mtestdf[col] = mtestdf[col].fillna(0)

mtestdf['EXT_SOURCE_3'] = mtestdf['EXT_SOURCE_3'].fillna(mtraindf['EXT_SOURCE_3'].median())
mtestdf['EXT_SOURCE_2'] = mtestdf['EXT_SOURCE_2'].fillna(mtraindf['EXT_SOURCE_2'].median())
mtestdf['AMT_ANNUITY'] = mtestdf['AMT_ANNUITY'].fillna(mtraindf['AMT_ANNUITY'].median())

soc_cols = [
    'OBS_30_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE',
    'OBS_60_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE'
]

for col in soc_cols:
    if col in mtestdf.columns:
        mtestdf[col] = mtestdf[col].fillna(mtraindf[col].median())

upper_income = mtraindf['AMT_INCOME_TOTAL'].quantile(0.99)
mtestdf['AMT_INCOME_TOTAL'] = np.where(mtestdf['AMT_INCOME_TOTAL'] > upper_income, upper_income, mtestdf['AMT_INCOME_TOTAL'])

for col in ['AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE']:
    if col in mtestdf.columns:
        upper = mtraindf[col].quantile(0.99)
        mtestdf[col] = np.where(mtestdf[col] > upper, upper, mtestdf[col])

mtestdf = pd.get_dummies(mtestdf, columns=cat_cols, drop_first=True)

mtraindf, mtestdf = mtraindf.align(mtestdf, join='left', axis=1)
mtestdf = mtestdf.fillna(0)

mtestdf.isnull().sum().sum()

C:\Users\my\AppData\Local\Temp\ipykernel_9652\4024774824.py:34: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mtestdf['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True)

np.int64(0)

In [41]:
mtestdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Columns: 185 entries, SK_ID_CURR to EMERGENCYSTATE_MODE_Yes
dtypes: bool(121), float64(25), int64(39)
memory usage: 29.4 MB

In [43]:
joblib.dump(mtraindf, "clean_train.pkl")
joblib.dump(mtestdf, "clean_test.pkl")

['clean_test.pkl']